---
title: Account template page
content_type: accounts
position: 9
display_settings:
  hidden: true
---
{% extends 'layouts/default' %}
{% block content %}
<h1>{{ account.name }}</h1>
{% endblock %}
